:root {
  --primary-color: #360568;
  --secondary-color: #5B2A86;
  --accent1-color: #7785AC;
  --accent2-color: #9AC6C5;

  /* --heading-font: "Libertinus Math", "IM Fell French Canon SC", sans-serif;
  --paragraph-font: "Lato", Helvetica, sans-serif; */

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--accent2-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}